
<div class="row g-5">
  <div class="col-md-5 col-lg-4 order-md-last">
  </div>
  <div class="col-md-7 col-lg-8">
    <h2 class="mb-3">Enter information about expense</h2>
    <form #newExpenseForm="ngForm" (ngSubmit)="onSubmit(expenseModel)">
      <div class="row g-3">
        <div class="col-sm-6">
          <label class="form-label">Expense name</label>
          <input type="text" class="form-control" [(ngModel)]="expenseModel.expenseName" name="expenseName" >
        </div>
        <div class="col-sm-4">
          <label class="form-label">Cost</label>
          <input type="text" class="form-control"[(ngModel)]="expenseModel.cost" name="Cost" >
        </div>

        <div class="col-md-5">
          <label class="form-label">Priority</label>
          <select class="form-select" required="" [(ngModel)]="expenseModel.priority" name="Priority">

            <option *ngFor="let prio of allPriorities">
                {{prio.priority}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="Description">Description</label>
          <textarea class="form-control" name="DescriptionTextArea" rows="3"  [(ngModel)]="expenseModel.description"></textarea>
        </div>
      </div>
      <hr class="my-4">
      <button class="w-100 btn btn-primary btn-lg">Add new expense</button>
      {{newExpenseForm.value | json}}
    </form>
  </div>
</div>

